table,tr,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
.myList{
    display: none;
    position: absolute;
    background-color: rgb(159, 213, 146);
    z-index:2;
    list-style-type: none;
}
td:hover .myList{
    display: block;
}